@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans|PT+Sans|Roboto|Raleway:400,500,600,700');
html {
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
}

body {
	color: #666666;
	background-color: #eceeef;
	font-family: 'Roboto';
	height: inherit;
	overflow: auto;
	margin: 0;
}

*, :after, :before {
	box-sizing: inherit;
}

.text-field {
	margin-bottom: 1rem;
	width: 100%;
	padding: .75rem 1.25rem;
	border: 1px solid #dee2e6;
	background-color: #fff;
	font-size: 15px;
	border-radius: 0;
	line-height: normal;
	color: #464a4c;
	transition: all 0.15s ease;
}

.text-field:focus {
	border-color: #666ee8;
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 1140px;
	/*height: inherit;*/
}

.container .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	/*height: inherit;*/
	margin-top: 20px;
}

.content-container {
	margin: auto;
	/*width: 100%;*/
	background: #fff;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.content-container .content {
	padding: 15px 20px;
	margin: 0 auto;
	display: table;
	min-width: 35vw;
}

.content-container .content input[type=submit] {
	margin-top: 20px;
	display: block;
	background: #666ee8;
	color: #fff;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	border: 0;
	font-weight: 700;
	width: 100%;
	outline: none;
	cursor: pointer;
	padding: 10px;
	transition: all 0.15s ease;
}

.content h1 {
	width: 100%;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: 500;
}

table {
	width: 100%;
}

.create-user td, .update-user td, .reset-password td {
	display: block;
}

#homeBtn, #createBtn, #createRecept, #createIngredient, #createIngBatch {
	margin-top: 20px;
	display: block;
	background: #8080ff;
	color: #fff;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	border: 0;
	font-weight: 700;
	width: 100%;
	outline: none;
	cursor: pointer;
	padding: 10px;
	transition: all 0.15s ease;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}

.user-table {
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 6px;
	margin: 25px 0;
}

.user-table th,
.user-table td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	text-align: center;
}

.user-table td.align-left {
	text-align: left;
}

.user-table thead th {
	background-color: #5b73c0;
}

.user-table tbody td {
	position: relative;
	color: #575962;
}







#updateUsers td {
	text-align: center;
}

.navbar {
	width: 100%;
	text-align: center;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.navigation li {
	display: inline-block;
	width: 7vw;
	margin: 0 5px;
}

.navigation li a {
	display: block;
	margin-top: 20px;
	display: block;
	background: #5b73c0;
	color: #fff;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 10px;
	transition: all 0.15s ease;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	width: 100%;
}